a:link {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: large;
    }
a:visited {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: larger;
    }



/*inicio*/
body.index{
    margin: 0;
    padding: 0;
    background: url("../background/alexa.jpg")top fixed;
    box-sizing: border-box;
    background-size :cover;
    
}

.container{
    display: grid;
    grid-template-rows: 8vh 40vh 300vh;
}

header{
    display: grid;
    grid-row: 1/2;
    background-color: #131921;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 80% 10%;
}

section{
    grid-row: 2/3;
}

footer{
    border: white 6px ;
    border-radius: 60px;
    background-color: white;
    grid-row: 3/4;
    display: grid;
    grid-template-rows: 20% 20% 20% 20%;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 3rem 3rem;
    padding: 3rem 3rem;
}

.items{
    text-align: center;   
}

.adproduto {
    color: #FFAE00;
    grid-column: 3/4;
    grid-row: 2/3;
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 0;
    line-height: 0;
    font-family: Courier New;
    width: 271px;
    font-size: 17px;
    font-weight: 100;
    padding: 20px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #0059A0 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .adproduto:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

 /*Adicionar Produtos*/
body.ad{
    background: url("../background/fundo.gif") no-repeat;
    background-repeat: no-repeat;
}

form{
    box-shadow: 7px 7px 10px 10px rgb(102, 108, 119);
    color: white;
    text-align: center;
    grid-column: 2/3;
    grid-row: 2;
    border: #131921 solid 10px;
    border-radius: 50px;
    background-color: #167FEA;
    height: 525px;
    width: 400px;
}

div.cr{
    display: grid;
    grid-template-columns: 6% 40% 54%;
    grid-template-rows: 10%;
}


/*produto*/
body.produto{
    margin: 0;
    padding: 0;
    background-color: #167FEA;
}

.contain{
    display: grid;
    grid-template-rows: 8vh 12vh  40vh ;
}

div.dp{
    display: grid;
    grid-row: 3/4;
    grid-template-columns:  47% 10% 48%;
}

div.ime{

    grid-template-columns: 2/3;
    border: white solid 10px;
    border-radius: 50px;
    padding-top: 100px;
    padding-left: 150px;
    background-color: white;
}


.t{
    text-align: center;

}

.info{
    font-size:medium;
    grid-column: 3/5;
    color: #131921;
    border: white solid 10px;
    border-radius: 50px;
    background-color: white;
    height: 525px;
    width: 560px; 
}

















.cproduto {
    color: #FFAE00;
    grid-column: 3/4;
    grid-row: 2/3;
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 0;
    line-height: 0;
    font-family: Courier New;
    width: 271px;
    font-size: 17px;
    font-weight: 100;
    padding: 20px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #0059A0 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .cproduto:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

