*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: #121212;
}

body, html{
    height: 100%;
  }


.spinner{
    width: 80px;
    height: 80px;
    margin-top: 20%;
    border: 20px solid rgba(255, 255, 255, 0.1);
    border-top-color: blue;
    border-radius: 50%;
    animation: spin 10s linear infinite ;
    box-shadow: 0px 0px 25px blue;
}

@keyframes spin {
    to{
        transform: rotate(365deg);
    }
}

button {
    height: 30px;
    width: 90px;
    background-color: #adadad;
    border-color: #121212;
}

.favoritos {
    margin: 0;
}

.vd {
    margin-left: 20vw;
    margin-right: 20vw;
    max-width: 90vw;
    min-width: 30%;
    width: 560px;
    height: 315px;
}

.n {
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: large;
    visibility: hidden;
}


.inicio {
    padding-top: 15px;
    background-color: #000000;
    width: 20%;
    height: 250%;
    font-weight: bold;
    font-family: Helvetica;
    text-decoration: none;
    border: 5px solid #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tb {
    width: 350px;
    height: 202px;
}

a:link,
a:visited {
    text-decoration: none;
    color: rgb(58, 58, 58);
}a:hover{
    color: rgb(255, 255, 255);
    transition: 0.5;
}

.main {
    padding-bottom: 30px;
    padding-top: 55px;
}

.in {
    color: rgb(255, 255, 255);
    padding-bottom: 15px;
}

.playlist {
    padding-bottom: 15px;
    color: rgb(100, 100, 100);
}


.thumbnail {
    max-width: 100%;
    min-width: 50%;
}
.thumbnail:hover{
    transform: scale(1.1);
    margin-bottom: 5px;
    transition: 0.5s;
}

.menu {
    height: 100%;
    text-align: center;
    font-size: 20px;
}

.video-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 3rem 8rem;
    padding: 3rem 3rem;
    margin: 0;
    border: 4px solid #121212;
    background-color: #121212;
    width: 80%;
    float: right;
    color: whitesmoke;

}



.body.menu {
    margin: 0;
    background-color: #121212;

}

.letra {
    text-align: center;
    color: white;
}

.tletra {
    text-align: center;
    color: beige;
    font-size: 30px;
    font-family: sans-serif;
}

.infom {
    color: bisque;
    text-align: center;
    font-size: 40px;
    min-width: 425px;
    max-width: 90vw;
}

.playr {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90vw;
}

.playl {
    margin-left: 20vw;
    margin-right: 20vw;
    
    min-width: 300px;
    background-color: #121212;
    border: solid 3px #121212;
    border-radius: 10px;
}

.im {
    padding-top: 15px;
}

.fav {
    padding-bottom: 15px;
}

/* Media Queries */

@media (max-width: 400px) {
    .icon {
        margin-left: 0;
    }
    .favoritos {
        margin-left: 15px;
    }
    .infom {
        display: none;
    }
    .tb {
        width: 250px;
        height: 150px;
    }
    .spinner{
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 650px) {
    .favoritos {
        margin-left: 15px;
    }
    .tb {
        width: 250px;
        height: 150px;
    }
    .video-section {
        padding: 1px;
    }
}

@media (max-width: 930px) {
    .inicio {
        height: 290%;
    }
}
@media (max-width: 930px) {
    .inicio {
        height: 290%;
    }
}

@media (max-width: 470px) {
    .inicio {
        height: 300%;
        font-size: 70%;
    }
}

@media (max-width: 349px) {
    .vd {
        visibility: hidden;
    }
    .playl, .infom {
        visibility: hidden;
    }
    .n {
        visibility: inherit;
    }
}

@media (max-width: 333px) {
    .inicio {
        display: none;
    }
    .video-section {
        display: flex;
        flex-direction: column;
        width: 100vw;
        margin: 0;
        padding: 0;
        gap: 3rem 0rem;
    }
    body.menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


