body {
    padding: 0;
    margin: 0;
}



.textinicial {
    font-size: 50px;
    font-family: cursive;
    text-align: center;
    margin-top: 25px;
    text-shadow: 0.1em 0.1em 0.2em #695f5f;
}

.im {
    float: right;
    
}

body {
    background: url(fundo.png);
    background-repeat: repeat;
}

.principal {
    margin-left: 30%;
    margin-right: 30%;
    background-color: #FDEED4;
    box-shadow: 3px 3px 5px 6px #000000;
    border-radius: 25px;
    min-width: 126px;
}

.receitas {
    
    background-color: #FDEED4;
    box-shadow: 5px 9px 5px 6px #000000;
    border-radius: 25px;
    width: 70vw;
    margin-bottom: 50px;
}

h2, h3, h4 {
    margin-left: 15px;
}

h2 {
    text-align: center;
    font-size: 35px;
    font-family: cursive;
    color: #e14f38;
    text-shadow: 0.1em 0.1em 0.2em rgb(148, 122, 122);
}

h3 {
    font-size: 25px;
    font-family: cursive;
    color: black;
    text-shadow: 0.1em 0.1em 0.2em #695f5f;
}

h4 {
    font-size: 20px;
    font-family: cursive;
    color: black;
    text-shadow: 0.1em 0.1em 0.2em #695f5f;
}

.background{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.escolha {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #FDEED4;
    box-shadow: 5px 9px 5px 6px #000000;
    border-radius: 25px;
    text-align: center;
    font-family: cursive;
    font-size: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem 3rem;
    padding: 3rem 3rem;
}

a:link,
a:visited {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: large;
}

.p{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    border: #e14f38 solid 6px;
    width: 200px;
    height: 100px;
    background-color: #e14f38;
    border-radius: 50px;
    margin-left: 60px;
    margin-right: 55px;
}
.p:hover{
    animation: spin 0.5s linear;
    transform: scale(1.15);
}

@keyframes spin {
    0%{
        transform: scale(1);
    }
    20%{
        transform: scale(1.2);
    }
    30%{
        transform: scale(1.1);
    }
    55%{
        transform: scale(1.2);
    }
    65%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1.15);
    }
}


@media (max-width: 432px) {
    .textinicial {
      font-size: 40px;
    
    }
    .escolha{
        margin-left: 12px
    }
  }
@media (max-width: 350px) {
    .textinicial {
      font-size: 30px;
    }
    
  }
@media (max-width: 650px) {
    .im {
       width: 300px;
       height: 300px;
    }
}
@media (max-width: 850px) {
    .im {
       width: 500px;
       height: 500px;
    }
}

@media (max-width: 700px) {
    .im {
       width: 400px;
       height: 400px;
    }
}
  
@media (max-width: 560px) {
    .im {
       width: 350px;
       height: 350px;
    }
}

  
@media (max-width: 480px) {
    .im {
       width: 300px;
       height: 300px;
    }
}

 
@media (max-width: 420px) {
    .im {
       width: 250px;
       height: 250px;
    }
}

 
@media (max-width: 350px) {
    .im {
       width: 0px;
       height: 0px;
      
    }
   
}

.botao {
    text-align: center;
    color: white;
    font-family: cursive;
    border-radius: 25px;
    background-color: #e14f38;
    box-shadow: 5px 9px 5px 6px #000000;
    left: 35%;
    right: 35%;
    width: 30%;
    margin-left: 35%;
    margin-bottom: 25px;
}

